@import "tailwindcss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --primary: #0088c2;
    --secondary: #17a2b8;
    --light: #f8f9fa;
    --dark: #343a40;
    --success: #28a745;
    --warning: #ffc107;
    --danger: #dc3545;
  }

body {
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: white;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1 {
    /* font-size: 100px; */
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 102px;
    margin-bottom: 40px;
    text-align: center;
}
/* globals.css */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
  }